@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Poppins";
  color: #333;
  text-transform: capitalize;
}

header {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;

  display: flex;
  align-items: center;
  gap: 40px;
}

nav {
  display: flex;
  margin-top: 20px;
  gap: 40px;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #333;
}

section {
  margin-left: 50px;
  margin-right: 50px;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 100px;
}

.testimonial-title {
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile {
  display: flex;
  gap: 50px;
}

.profile-1,
.profile-2,
.profile-3 {
  display: grid;
  justify-items: center;
}

footer {
  text-align: center;
  background-color: #4a3e30;
  color: white;
  padding: 50px;
  margin-top: 50px;
}

.table {
  display: flex;
  justify-content: center;
}
